main {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    header {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        .circles {
            position: absolute;
            z-index: -1;
            margin: auto;
            left: 0;
            right: 0;
            top: -1.75rem;
            width: 10rem;
        }

        h1 {
            font-size: 1.5rem;
            color: $dark-desaturated-blue;
        }

        p {
            color: $grayish-blue;
            width: 80%;
        }
    }

    .container {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .flex_container {
            padding: 1rem 1rem 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            #range, #rangeYearly {
                border-radius: 1rem;
                overflow: hidden;
                width: 100%;
                height: 10px;
                appearance: none;

                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: #fff;
                    background-image: url("../images/icon-slider.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: center;
                    box-shadow: -307px 0 0 300px $soft-cyan;
                }
            }
        }

        .pageviews_price_container {
            .pageviews {
                display: none;
            }

            .pageviewsMobile, .pageviews {
                color: $grayish-blue;
                text-transform: uppercase;
                font-size: .9rem;
                letter-spacing: 1.25px;
                font-weight: 800;
            }

            .price {
                color: $grayish-blue;
                display: flex;
                align-items: center;
                font-weight: 800;
                gap: .5rem;
                line-height: 1;

                span {
                    color: $dark-desaturated-blue;
                    font-size: .8rem;
                    font-size: 2rem;
                }
            }
        }

        .yearly_monthly_wrapper {
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            span {
                font-size: .7rem;
                color: $grayish-blue;

                &.discountDesktop {
                    display: none;
                }

                &.discountMobile, &.discountDesktop {
                    background: $light-grayish-red;
                    color: $light-red;
                    padding: .3rem .4rem;
                    border-radius: 2rem;
                    font-size: .7rem;
                    font-weight: 800;
                }
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 3rem;
                height: 1.35rem;

                & input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
            }
              
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $light-grayish-blue2;
                transition: .4s;
            
                &:hover {
                    background: $strong-cyan;
                }

                &:before {
                    position: absolute;
                    content: "";
                    height: 1.1rem;
                    width: 1.1rem;
                    left: .2rem;
                    bottom: .125rem;
                    background-color: white;
                    transition: .4s;
                }
            }
              
            input:checked + .slider {
                background: $light-grayish-blue2;

                &:hover {
                    background: $strong-cyan;
                }
            }
              
              
            input:checked + .slider:before {
                transform: translateX(1.55rem);
            }
              
            .slider.round {
                border-radius: 1rem;

                &:before {
                    border-radius: 50%;
                }
            }
        }
    }
    .monthly {
        display: none;
    }

    .yearly_billing {
        font-weight: 800;
    }

    .show_monthly {
        .monthly {
            display: block;
        }

        .monthly_billing {
            font-weight: 800;
        }
        
        .yearly {
            display: none;
        }

        .yearly_billing {
            font-weight: normal;
        }
    }

    .checkmark_trial_container {
        border-top: 1px solid $light-grayish-red;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        
        .checkmarks {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .checkmark {
                display: flex;
                align-items: center;
                gap: .5rem;

                p {
                    font-size: .9rem;
                    color: $grayish-blue;
                }
            }
        }

        button {
            background: $dark-desaturated-blue;
            border: none;
            border-radius: 2rem;
            padding: 1rem 2rem;
            font-family: inherit;
            color: $pale-blue;
        }
    }
}

@media screen and (max-width: 374px) {
    main {
        .container {
            .yearly_monthly_wrapper {
                span {
                    font-size: .6rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        gap: 5rem;

        header {
            h1 {
                font-size: 1.75rem;
            }
        }

        .container {
            width: 35rem;
            // padding: 2rem;

            .flex_container {
                flex-direction: column-reverse;
                padding: 3rem 2rem 0 2rem;

                input[type="range"] {
                    cursor: pointer;
                }
            }

            .pageviews_price_container {
                .price {
                    span {
                        font-size: 2.5rem;
                    }
                }


                .desktop_container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .pageviews {
                    display: block;
                }

                .pageviewsMobile {
                    display: none;
                }
            }

            .yearly_monthly_wrapper {
                padding: 2rem 0 1rem 0;
                gap: 1rem;
                margin-left: 4.5rem;

                span {
                    font-size: .9rem;

                    &.discountMobile {
                        display: none;
                    }

                    &.discountDesktop {
                        display: block;
                    }
                }

                .yearly_billing {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }

            .checkmark_trial_container {
                flex-direction: row;
                justify-content: space-between;
                padding: 3rem 2rem;

                .checkmarks {
                    align-items: flex-start;
                }

                button {
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        transition: .3s;
                    }
                }
            }
        }
    }
}