main {
    padding: 1.5rem;

    header {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        .circles {
            position: absolute;
            z-index: -1;
            margin: auto;
            left: 0;
            right: 0;
            top: -1.75rem;
            width: 10rem;
        }

        h1 {
            font-size: 1.5rem;
            color: $dark-desaturated-blue;
        }

        p {
            color: $grayish-blue;
            width: 80%;
        }
    }

    .container {
        border: 1px solid red;

        .yearly_monthly_wrapper {
            span {
                font-size: .8rem;
                color: $grayish-blue;

                &.discountDesktop {
                    display: none;
                }
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 4rem;
                height: 2rem;

                & input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
            }
              
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 73%, 64%));
                transition: .4s;
            
                &:hover {
                    background: linear-gradient(hsl(236, 100%, 87%),rgb(126, 133, 255));
                }
            }
              
            .slider:before {
                position: absolute;
                content: "";
                height: 1.75rem;
                width: 1.75rem;
                left: .3rem;
                bottom: .1rem;
                background-color: white;
                transition: .4s;
            }
              
            input:checked + .slider {
                background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 73%, 64%));
            }
              
              
            input:checked + .slider:before {
                transform: translateX(1.65rem);
            }
              
            .slider.round {
                border-radius: 1rem;
            }
              
            .slider.round:before {
                border-radius: 50%;
            }
        }
    }
    .monthly {
        display: none;
    }

    .show_monthly {
        .monthly {
            display: block;
        }
        
        .yearly {
            display: none;
        }
    }
}