@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Manrope, sans-serif;
  background: hsl(230deg, 100%, 99%);
  background-image: url("../images/bg-pattern.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only-label {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

header {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
header .circles {
  position: absolute;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
  top: -1.75rem;
  width: 10rem;
}
header h1 {
  font-size: 1.5rem;
  color: hsl(227deg, 35%, 25%);
}
header p {
  color: #4E5574;
  width: 80%;
}

main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .container {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .container .flex_container {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main .container .flex_container #range, main .container .flex_container #rangeYearly {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .container .flex_container #range::-webkit-slider-thumb, main .container .flex_container #rangeYearly::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-shadow: -307px 0 0 300px hsl(174deg, 77%, 80%);
}
main .container .pageviews_price_container .pageviews {
  display: none;
}
main .container .pageviews_price_container .pageviewsMobile, main .container .pageviews_price_container .pageviews {
  color: hsl(225deg, 20%, 60%);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1.25px;
  font-weight: 800;
}
main .container .pageviews_price_container .price {
  color: hsl(225deg, 20%, 60%);
  display: flex;
  align-items: center;
  font-weight: 800;
  gap: 0.5rem;
  line-height: 1;
}
main .container .pageviews_price_container .price span {
  color: hsl(227deg, 35%, 25%);
  font-size: 0.8rem;
  font-size: 2rem;
}
main .container .yearly_monthly_wrapper {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
main .container .yearly_monthly_wrapper span {
  font-size: 0.7rem;
  color: hsl(225deg, 20%, 60%);
}
main .container .yearly_monthly_wrapper span.discountDesktop {
  display: none;
}
main .container .yearly_monthly_wrapper span.discountMobile, main .container .yearly_monthly_wrapper span.discountDesktop {
  background: hsl(14deg, 92%, 95%);
  color: hsl(15deg, 100%, 70%);
  padding: 0.3rem 0.4rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 800;
}
main .container .yearly_monthly_wrapper .switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.35rem;
}
main .container .yearly_monthly_wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
main .container .yearly_monthly_wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(223deg, 50%, 87%);
  transition: 0.4s;
}
main .container .yearly_monthly_wrapper .slider:hover {
  background: hsl(174deg, 86%, 45%);
}
main .container .yearly_monthly_wrapper .slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  bottom: 0.125rem;
  background-color: white;
  transition: 0.4s;
}
main .container .yearly_monthly_wrapper input:checked + .slider {
  background: hsl(223deg, 50%, 87%);
}
main .container .yearly_monthly_wrapper input:checked + .slider:hover {
  background: hsl(174deg, 86%, 45%);
}
main .container .yearly_monthly_wrapper input:checked + .slider:before {
  transform: translateX(1.55rem);
}
main .container .yearly_monthly_wrapper .slider.round {
  border-radius: 1rem;
}
main .container .yearly_monthly_wrapper .slider.round:before {
  border-radius: 50%;
}
main .monthly {
  display: none;
}
main .yearly_billing {
  font-weight: 800;
}
main .show_monthly .monthly {
  display: block;
}
main .show_monthly .monthly_billing {
  font-weight: 800;
}
main .show_monthly .yearly {
  display: none;
}
main .show_monthly .yearly_billing {
  font-weight: normal;
}
main .checkmark_trial_container {
  border-top: 1px solid hsl(14deg, 92%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
main .checkmark_trial_container .checkmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main .checkmark_trial_container .checkmarks .checkmark {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .checkmark_trial_container .checkmarks .checkmark p {
  font-size: 0.9rem;
  color: hsl(225deg, 20%, 60%);
}
main .checkmark_trial_container button {
  background: hsl(227deg, 35%, 25%);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-family: inherit;
  color: hsl(226deg, 100%, 87%);
}

@media screen and (max-width: 374px) {
  main .container .yearly_monthly_wrapper span {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 1.75rem;
  }
  main {
    gap: 5rem;
  }
  main .container {
    width: 35rem;
  }
  main .container .flex_container {
    flex-direction: column-reverse;
    padding: 3rem 2rem 0 2rem;
  }
  main .container .flex_container input[type=range] {
    cursor: pointer;
  }
  main .container .pageviews_price_container .price span {
    font-size: 2.5rem;
  }
  main .container .pageviews_price_container .desktop_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .container .pageviews_price_container .pageviews {
    display: block;
  }
  main .container .pageviews_price_container .pageviewsMobile {
    display: none;
  }
  main .container .yearly_monthly_wrapper {
    padding: 2rem 0 1rem 0;
    gap: 1rem;
    margin-left: 4.5rem;
  }
  main .container .yearly_monthly_wrapper span {
    font-size: 0.9rem;
  }
  main .container .yearly_monthly_wrapper span.discountMobile {
    display: none;
  }
  main .container .yearly_monthly_wrapper span.discountDesktop {
    display: block;
  }
  main .container .yearly_monthly_wrapper .yearly_billing {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  main .container .checkmark_trial_container {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 2rem;
  }
  main .container .checkmark_trial_container .checkmarks {
    align-items: flex-start;
  }
  main .container .checkmark_trial_container button {
    cursor: pointer;
  }
  main .container .checkmark_trial_container button:hover {
    color: #fff;
    transition: 0.3s;
  }
}/*# sourceMappingURL=style.css.map */