@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Manrope, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 1.5rem;
}

main header {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

main header .circles {
  position: absolute;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
  top: -1.75rem;
  width: 10rem;
}

main header h1 {
  font-size: 1.5rem;
  color: #293356;
}

main header p {
  color: #858fad;
  width: 80%;
}

main .container {
  border: 1px solid red;
}

main .container .yearly_monthly_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
}

main .container .yearly_monthly_wrapper span {
  font-size: .7rem;
  color: #858fad;
}

main .container .yearly_monthly_wrapper span.discountDesktop {
  display: none;
}

main .container .yearly_monthly_wrapper span.discountMobile {
  background: #feece7;
  color: #ff8c66;
  padding: .3rem .4rem;
  border-radius: 2rem;
  font-size: .7rem;
  font-weight: 800;
}

main .container .yearly_monthly_wrapper .switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.35rem;
}

main .container .yearly_monthly_wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

main .container .yearly_monthly_wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
}

main .container .yearly_monthly_wrapper .slider:hover {
  background: #10d5c2;
}

main .container .yearly_monthly_wrapper .slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: .2rem;
  bottom: .1rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

main .container .yearly_monthly_wrapper input:checked + .slider {
  background: #cdd7ee;
}

main .container .yearly_monthly_wrapper input:checked + .slider:hover {
  background: #10d5c2;
}

main .container .yearly_monthly_wrapper input:checked + .slider:before {
  -webkit-transform: translateX(1.4rem);
          transform: translateX(1.4rem);
}

main .container .yearly_monthly_wrapper .slider.round {
  border-radius: 1rem;
}

main .container .yearly_monthly_wrapper .slider.round:before {
  border-radius: 50%;
}

main .monthly {
  display: none;
}

main .yearly_billing {
  font-weight: 800;
}

main .show_monthly .monthly {
  display: block;
}

main .show_monthly .monthly_billing {
  font-weight: 800;
}

main .show_monthly .yearly {
  display: none;
}

main .show_monthly .yearly_billing {
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */